@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;  
    background-color: #1a2d51;
    color: aliceblue;
    overflow-y: auto;
    transition: transform 0.3s ease;
}
div.sidebar::-webkit-scrollbar {
    width: 5px;
}

div.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}

div.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

div.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.sidebar.active {
    transform: translateX(-280px);
}
.sidebar-brand {
    height: 70px;
}
.brand-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-icons span {
    font-size: 1.5rem;
    margin-left: .5rem;
}
/*Se aplican cambios start*/
.sidebar-user {
    position: relative;
    margin: 0rem 0rem 1rem 0rem;
    text-align: center;
    padding: 5px;
}
/*Se aplican cambios end*/
.sidebar-user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #eb7434;
    transition: opacity 0.3s ease;
}
.sidebar-user .profile-edit-icon {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 2.5rem;
    color: #eb7434;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.sidebar-user a:hover img {
    opacity: 0.5;
}
.sidebar-user a:hover .profile-edit-icon {
    opacity: 1;
    pointer-events: auto;
}

.sidebar-user h3 {
    font-size: 1rem;
}
.sidebar-user h2{
    margin-bottom: 25px;
}
.sidebar-user span {
    font-size: .8rem;
}
.sidebar-menu {
    margin-top: 3rem;
    padding: 10px;
    border-radius: 5px;
}

.sidebar-menu li a.active {
    color: #fff;
    font-weight: bolder;
}
/*Se aplican cambios start*/
.menu-head {
    text-transform: uppercase;
    color:#eb7434;
    font-size: .85rem;
    font-weight:600;
    margin-bottom: .5rem;
    cursor: pointer;
    padding: 10px;
    
}
.menu-head i{
    color: white;
}
.menu-head:hover{
    background-color: rgb(255, 255, 255);
    color: #1a2d51;
    border-radius: 10px;
}


.sidebar-menu ul {
    margin-bottom: 1.5rem;
    display: none;
    padding: 10px;
    border-radius: 2px;
    
    
}
/*Se aplican cambios end*/
.sidebar-menu ul.active {
    display: block;
}
.sidebar-menu li {
    margin-bottom: .9rem;
}
.sidebar-menu li a {
    color: aliceblue;
    font-size: .9rem;
    display: block;
}
.sidebar-menu li a:hover{
    color: #eb7434;
    transform: translateX(5px);
}
.sidebar-menu li a span {
    font-size: 1.3rem;
    margin-right: .5rem;
}
.main-content {
    margin-left: 280px;
    transition: margin-left 0.3s ease;
}
.sidebar.active ~ .main-content {
    margin-left: 0;
}
/*Se aplican cambios start*/
header {
    margin: 0em auto 0em;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: #fff;
}

header img{
    height: 80%;
    margin: 20px;
}

/*Se aplican cambios end*/
.alert{
    text-transform:capitalize;
    margin: 0em auto 1.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 5%;

}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #b6e0fd;
    color: #31708f;
}

.options-bar{
    background-color: #fff;
    margin: 0em auto 1.8em;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}


.options-bar .header-icons {
    display: flex;
    align-items: center;
}

.options-bar .header-icons span {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    color: aliceblue;
    background-color: #1a2d51;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.options-bar .menu-toggle {
    display: flex;
    align-items: center;
   
}

.options-bar .menu-toggle span {
    font-size: 1.5rem;
    color: aliceblue;
    margin-right: 1.5rem; /* Adjust the spacing as needed */
    background-color: #1a2d51;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
   
    border-radius: 50%;
}

/* Responsive design */
@media (max-width: 768px) {

    header img{
        height: 40%;
        margin: 0px 0px 0px;
    }
    .options-bar .menu-toggle {
        margin-bottom: 0.5rem;
    }

   

    .options-bar .header-icons {
        width: 100%;
        justify-content: flex-end;
    }

    .options-bar .header-icons span {
        margin-left: 0.5rem;
    }
}


main {
    padding: 1.5rem;
    background-color: #F7F8FC;
    min-height: calc(100vh - 70px);
}
.container {
    max-width:100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.search-create {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    margin-bottom: 1rem;
}
#titulo-h1 {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 1rem;
    
}
#create-btn {
    padding: 0.5rem 1rem;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#events-list {
    margin-top: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form label {
    display: block;
    margin-bottom: 0.5rem;
}
form input[type="text"],
form input[type="date"],
form input[type="time"],
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
    .sidebar {
        transform: translateX(-280px);
        position: fixed;
        z-index: 1000;
        transition: transform 0.3s ease;
    }
    .sidebar.active {
        transform: translateX(0);
        width: 100%;
        
    }
    
    .menu-toggle{
        transform: translateX(0);       
        z-index: 1000; 
       
    }
   

    .sidebar-menu ul {
        margin-bottom:1.5rem;
        display: none;
        padding: 5px;
        border-radius: 2px;
        text-align: center;
    }
    .sidebar-menu li {
        margin-bottom: 1rem;
    }
    .sidebar-menu li a {
        color: aliceblue;
        font-size: 1.2rem;
    }
}

/* tablas */

.ajuste{
    width: 100%;
    min-width: 100%;
    overflow-x: auto;    
    padding: 5px;
}
div.ajuste::-webkit-scrollbar {
    height: 5px;
}

div.ajuste::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

div.ajuste::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

div.ajuste::-webkit-scrollbar-thumb:hover {
    background: #555;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
    
 
}
thead{
    width: 100%;
}
#example thead{
    width: 100%;
}
thead input{
    max-width:70%;
}

th, td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 13px;
}
td a i, td #unirme{
    color: #a94442;
    display: flex;
    background-color:transparent;

}
#img-list{
    max-width: 150px;
    max-height: 150px;
    border-radius: 15px;

}
th {
    background-color: #1a2d51;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
   
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* .dataTables_wrapper {
    width: 100%;
} */

.selected {
    background-color: #e71034;
}

@media (max-width: 900px) {
   
            #example thead input[type="text"] {
                display: none;
            }
            thead{
                max-width: 100%;
                
            }
         
            tbody td{                
                max-width: 100%;                
                font-size: 10px;
            }
           
          
 }
 

/* Modificacion de elementos de la tabla */
#example_info{
    font-weight: bold;
    color: #1a2d51;
    font-size: 10px;
}
#example_paginate{
    color:#1a2d51 ;
    font-weight: bold;
    font-size: 10px;

}
#example_length{
    color:#1a2d51 ;
    font-weight: bold;
    font-size: 10px;
}
#example_length select{
    background-color: #C2E1FB;
    border: 1px solid #ccc;
    border-radius: 5px;


}
#deleteSelected{
    margin-bottom: 10px;
}
#example_filter{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 1rem;
}
#example_filter input{
    flex: 1;
    background-color: #C2E1FB;
    color: rgb(49, 46, 46);
    font-weight: bold;
    width: 70%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

a button {
    background-color: blue;
    color: white;
}

a button:hover {
    background-color: darkblue;
}

form button {
    background-color: red;
    color: white;
}

form button:hover {
    background-color: darkred;
}

form {
    display: inline;
}

td:last-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Se aplica la clase main modificar */
.container h1{
    color:white;
    background-color: #1a2d51;
    text-align: center;
    
    
}
.container form input, .container form select,
.container form textarea{
    background-color: #C2E1FB;
    color: rgb(49, 46, 46);
    font-weight: bold;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container form button{
    background-color: #1a2d51;
}

.modal .modal-content{
    background-color: white;
}

.modal .modal-content input,
.modal .modal-content select,
.modal .modal-content input,
.modal .modal-content textarea{
    background-color: #C2E1FB;
    color: rgb(49, 46, 46);
    font-weight: bold;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Aqui se aplican los cambios de la seccion main  */
.container .search-create{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}
.container .search-create input{
    background-color: #C2E1FB;
    color: rgb(49, 46, 46);
    font-weight: bold;
    width: 100%;
    padding: 0.5rem;    
    border: 1px solid #ccc;
    border-radius: 5px;
}
#create-btn{
    background-color: #f99806;
}
.container table td a #mensaje{
    background-color: red;
}
.confirmation-message {
    color: rgb(0, 255, 136);
    font-weight: bold;
}

/* modal validacion */

/* Estilos para el modal */

button {
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

.info{
    margin: 1em auto 1em;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

}

.info img{
    margin-top: 0px;
    
    border-radius: 5px;
    padding: 1.5%;
    width: 400px;
}
.info .data{
    padding: 2%;
    text-align: center;
}
.info strong{
    color: #1a2d51;
    font-weight: bold;
}
.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.links .link-card{
    background-color: #fff;
    color:#1a2d51;
    width: 10vw;
    height: auto;
    border-radius: 5px;
    margin: 1em auto 1em;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid #1a2d51;
}

.links .link-card i{
    background-color: #1a2d51;
    color:#fff;
    border-radius: 50%;
    padding: 5px ;
}



.links .link-card:hover{
    background-color: #1a2d51;
    color: #fff;
    width: 10vw;
    height: auto;
}


@media (max-width: 768px) {
    .info img{
        width: 70vw;
        padding: 5%;
    }
    .links .link-card{
        width: 80vw;
        height: 15vh;
    }
}

.resumen{
    padding: 0%, 1%, 0%;
    height: 13vh;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    overflow-y: auto;
}

.LectorPDF{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LectorPDF iframe{
    background-color: #1a2d51;
    padding: 20px;
    width: 85%;
    height: 75vh;
}

.revision-container{
    padding-left: 9vw;
    padding-right: 9vw;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#pdf-viewer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;

}

.evaluate {
    font-family: Arial, sans-serif;
}

.evaluate h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.evaluate span {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}

.evaluate .question {
    margin-bottom: 3vh;
}

.evaluate .question h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.evaluate .answerOptions {
    display: flex;
    justify-content: space-evenly;
 
}

.evaluate .answerOptions label {
    display: flex;
    align-items: center;
    margin-right: 2vw;
    white-space: nowrap;
}

.evaluate .answerOptions input[type="radio"] {
    
    align-self: center; 
    margin-right: 5px;
}

.evaluate button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#resultado {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}


/* prueba dashboard */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    height: 400px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.infoCard .header-img img{    
    max-width: 80%;
    padding: 0;
    max-height: 130px;
}

@media (max-width: 768px) {
    .card {
        padding: 10px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        padding: 5px;
    }
}

/* Estilos reads */

.container .pRead{
    
    margin: 10px;
    
}

/* estilos read */
.container .contenido{
    max-width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.container .read{
    /* background-color:rgb(202, 201, 201); */
    
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.container .contenido .button-read{
  
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.container .contenido .button-read button{
    width: 50%;
    
}
@media (max-width: 800px) {
    .container .read {
        width: 330px;
        top: 0;
        left: 0;
        
        flex-direction: column;
        align-items: center;
    }
    .descripcion{
        margin: 5px;
    }
    .profile-body{
        padding: 10px;
        
    }
   
}

/* estilos perfil card */
.profile-card{
    max-width: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
}
.profile-header{
    background:linear-gradient(135deg,#001f3f,#005f8f);
    color: #fff;
    text-align: center;
    padding: 20px;
}
.profile-header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #eb7434;
    margin-bottom: 8px;
}
.name{
    font-size: 28px;
    
}
.title{
    color:#eb7434 ;
    font-size: 17px;
    margin-top: 3px;
}
.profile-body{
    padding: 20px;
    
}
.descripcion{
    font-size: 15px;
    color: #666;
    line-height: 1.4;
    margin: 10px;
}

